{% extends 'base.html.twig' %}

{% block content %}
    <section class="col-sm min-vh-100 greyBg section-start" style="overflow: auto">


        <!-- corps -->
        <div class="mb-5 mt-5 ">
            <div class="container">


                <div class="row">
                    <div class="col-md-9 col-12">
                        <div class="container bottom-buffer">

                            {% for type, messages in app.session.flashbag.all() %}
                                {% for message in messages %}
                                    <div class="row top-buffer">
                                        <div class="col-md-12">
                                            <div class="alert alert-{{ type }} alert-dismissable">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <p>{{ message }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}

                            <div class="row m-4">

                                <div class="col-12">
                                    <h3 class="h3-25bold">Mot de passe oublié</h3>
                                    <br />
                                    <p>
                                        Merci de remplir le formulaire ci-contre, il vous permettra de recevoir un email avec les informations nécessaires à la création d'un nouveau mot de passe.
                                    </p>

                                    <form method="post">
                                        <label for="inputEmail" class="sr-only">Email</label>
                                        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

                                        <br />
                                        <button class="btn btn-primary" type="submit">
                                            Réinitialliser le mot de passe
                                        </button>

                                    </form>
                                </div>



                                <br /><br />

                            </div>
                        </div>

                    </div>
                    <div class="col-md-3 col-12">

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block javascript %}


{% endblock %}

